---
layout: layouts/base
---
<header>
    <nav class="navigation">
        <ul class="menu">
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Nobis</a></li>
            <li><a href="#">Nostrum</a></li>
            <li><a href="#">Quia</a></li>
            <li><a href="#">Magni</a></li>
        </ul><!-- .menu -->
    </nav><!-- .navigation -->
    <h1>{{ site.name }}</h1>
</header>
<main-container>
    {%- if tags contains 'secondary' %}
    <aside>
        {% include 'navigation/secondary' %}
    </aside>
    {% endif %}
    <main aria-labelledby="{{ title | slugify }}">
        {%- if navigation %}{% include 'navigation/collection' %}{% endif %}
        <h2 id="{{ title | slugify }}">{{ title }}</h2>
        {%- if description %}<p>{{ description }}</p>{% endif %}
        {{ content }}
    </main>
</main-container>
<footer>
    {%- include 'navigation/footer' %}
    {%- include 'copyright' %}
</footer>